VITE_MUSIC_PROVIDER=audius
VITE_AUDIUS_API_KEY=
VITE_JAMENDO_CLIENT_ID=
VITE_JAMENDO_AUDIO_FORMAT=mp32
VITE_APPLE_MUSIC_DEVELOPER_TOKEN=
VITE_APPLE_MUSIC_STOREFRONT=us
VITE_APPLE_MUSIC_APP_NAME=Univerzo Music
